Chainlink_tutorial/05/node_modules/
Chainlink_tutorial_js_Subtitles/chatGPT_translation_test/.env
Chainlink_tutorial_js_Subtitles/chatGPT_translation_test/Output.txt
Chainlink_tutorial_js_Subtitles/chatGPT_translation_test/log.txt
Chainlink_tutorial_js_Subtitles/chatGPT_translation_test/Output_1.txt
Chainlink_tutorial_js_Subtitles/chatGPT_translation_test/Output_2.txt
Chainlink_tutorial_js_Subtitles/chatGPT_translation_test/Output_3.txt
Chainlink_tutorial_js_Subtitles/chatGPT_translation_test/P76_6-13.srt
Chainlink_tutorial_js_Subtitles/chatGPT_translation_test/Output_4.txt